#header_search  {
	display:none;
}

#header.premium_tool_kc_dm
{
    height:95px;
}

#header.premium_tool_kc_ovum
{
    height:105px;
}

#tab_welcome, #tab_findinfo,#tab_myhome {
	display:none;
}
