.Grid 
{ 
  border: 0px solid #57566F; 
  border-bottom: 0px solid #57566F; 
  background-color: #FFFFFF;
  font-size: 10px;
  cursor: pointer;
}

.GridHeader
{
  
  border-bottom: 1px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  cursor: default; 
  color: #FFFFFF;  
  font-family: verdana; 
  font-size: 10px;
  font-weight: bold;
  vertical-align: center;
}

.GridHeaderText
{
  color: #FFFFFF;  
  font-family: verdana; 
  font-size: 10px;
}

.GridFooter
{
  cursor: default; 
  padding: 5px;
  height: 48px;
  vertical-align: bottom;  
}
.GridFooter a 
{
  color: Black;
  font-weight: bold;
  vertical-align: bottom;
}

.GridFooterText
{
  color: #000000;  
  font-family: verdana; 
  font-size: 11px;
}

/* background image Moved to datamonitor.css, ovum.css*/
.HeadingRow 
{ 
  background-color: #E9E9EB; 
}

.HeadingCell 
{ 
  padding: 3px; 
  padding-top: 7px; 
  color: White;
  padding-bottom: 7px; 
}



.HeadingCellActive
{ 
  background-image: url(../images/header_activeBg.gif);   
  background-color: #F6F6F7;  
}

.HeadingRow td.FirstHeadingCell
{ 
  
}

.HeadingCellText
{
	cursor:pointer;
  font-weight: bold; 
  text-align: left; 
}

.Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
  margin-top:1px;
  font-family:verdana;
}

.Row td.DataCell 
{ 
  padding: 2px;   
  font-size:11px;
  border-bottom: 1px solid #D9E1EC; 
  border-right: 1px solid #D9E1EC; 
} 

.Row td.LastDataCell 
{ 
  background-color: #EFEFF4; 
} 

.Row td.DataCell_Freeze 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#FFFFFF; 
} 

.Row td.DataCell_FreezeLastCol 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#FFFFFF; 
border-right:solid 2px #D9E1EC;
} 

.RowAlt 
{ 
  background-color: #ECF0F5; 
  cursor: default;
  margin-top:1px;
  font-family:verdana;
}

.RowAlt td.DataCell 
{ 
  padding: 2px;   
  font-size:11px;
  border-bottom:#D9E1EC solid 1px;
  border-right: #D9E1EC solid 1px;
} 

.RowAlt td.LastDataCell 
{ 
  background-color: #EFEFF4; 
}

.RowAlt td.DataCell_Freeze 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#ECF0F5; 
} 

.RowAlt td.DataCell_FreezeLastCol 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#ECF0F5; 
border-right:solid 2px #D9E1EC;
} 

.SortedDataCell 
{ 
  background-color: #F5F5F5; 
} 

.SortHeaderCell
{
	background-image: url(../../images/arrow_down_over.gif); 
	
}

.GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: verdana; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

.GroupByCell
{
  cursor: pointer;
}

.GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}


.SliderPopup
{
  background-color: #FFF4D7; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  font-size: 11px; 
  width: 150px;
  height: 30px;
}



.HeadingCell_Freeze 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
} 



.GroupHeading_Freeze
{
  position:relative; 
  left: expression(parentNode.parentNode.parentNode.parentNode.parentNode.scrollLeft);	
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: verdana; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

.GroupByCell_Freeze
{
  position:relative;
  cursor: pointer;
}

.GroupByText_Freeze
{
  position:relative;
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}

.GridHeaderText_Freeze
{
  position:relative;
  color: #FFFFFF;  
  font-family: verdana; 
  font-size: 11px;
}

.ScrollBar
{
  /*background-image: url(../images/scroller/scroller_bg.gif);*/
  	border: 1px solid #D9E1EC;
	color: #BFC4D1;
		scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}

.ScrollGrip
{
  /*background-image: url(../images/scroller/scroll_gripBg.gif); */
  background-color:#BFC4D1;
  	border: 2px solid #FFFFFF;
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}

.ScrollPopup
{
  background-color: #FFFFFF; 
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}

#ctl00_mainContentPlaceHolder_grdPreview_dom
{
	border: 1px solid #D9E1EC;
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}


.SelRow
{ 
  background-color: #F7E7D6; 
  cursor: default;
  margin-top:1px;
  font-family:verdana;
}

.SelRow td.DataCell 
{ 
  padding: 2px;   
  font-size:11px;
  border-bottom:#D9E1EC solid 1px;
  border-right: #D9E1EC solid 1px;
} 

.SelRow td.LastDataCell 
{ 
  background-color: #EFEFF4; 
}

.SelRow td.DataCell_Freeze 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#F7E7D6; 
} 

.SelRow td.DataCell_FreezeLastCol 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#F7E7D6; 
border-right:solid 2px #D9E1EC;
} 



.RowNoData 
{ 
  background-color: #F7F7F7; 
  cursor: default;
  margin-top:1px;
  font-family:verdana;
}

.RowNoData td.DataCell 
{ 
  padding: 2px;   
  font-size:11px;
  border-bottom: 1px solid #D9E1EC; 
  border-right: 1px solid #D9E1EC; 
} 

.RowNoData td.LastDataCell 
{ 
  background-color: #F7F7F7; 
} 

.RowNoData td.DataCell_Freeze 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#F7F7F7; 
color:Gray;
} 

.RowNoData td.DataCell_FreezeLastCol 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#F7F7F7; 
border-right:solid 2px #D9E1EC;
color:Gray;
} 



.RowAltNoData 
{ 
  background-color: #ECF0F5; 
  cursor: default;
  margin-top:1px;
}

.RowAltNoData td.DataCell 
{ 
  padding: 2px;   
  font-size:11px;
  border-bottom:#D9E1EC solid 1px;
  border-right: #D9E1EC solid 1px;
} 

.RowAltNoData td.LastDataCell 
{ 
  background-color: #EFEFF4; 
}

.RowAltNoData td.DataCell_Freeze 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#ECF0F5; 
color:Gray;
} 

.RowAltNoData td.DataCell_FreezeLastCol 
{ 
position:relative; 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
z-index:1000; 
background-color:#ECF0F5; 
border-right:solid 2px #D9E1EC;
color:Gray;
} 

.Estimate
{
	font-style:italic;
	background-image:url('../images/e.gif');
	background-repeat:no-repeat;
}

.FFY
{
	font-style:italic;
	background-image:url('../images/f.gif');
	background-repeat:no-repeat;
}

.Forecast
{
	font-style:italic;
	background-repeat:no-repeat;
}

.Actual
{
	font-style:normal;
	background-image:url('../images/transparent.gif');
	background-repeat:no-repeat;
}
	




/* Grid and pre-header styles */
.grid { border:1px solid #515e6a;font:normal 11px "Segoe UI","Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;background:#fff; }
    .grid .hdr { width:100%;height:30px;border-bottom:1px solid #042c41;line-height:30px;background:#095075 url("../images/horizontal.png") repeat-x;color:#fff; }
        .grid .hdr .txt { padding:0 8px;font-weight:bold;cursor:default; }

/* Data cell styles */
.dat { border:1px solid #fff;border-right:1px solid #ededed;padding-left:3px; }
.icon { padding-left:0px;}
.ind { cursor:default; }

/* Row (and data cell) styles */
.row { background:#fff;line-height:18px;cursor:default;height:18px; }
.row-h { line-height:18px;background:#e8f5fd url("../images/horizontal.png") repeat-x 0 -96px;cursor:default; }
    .row-h .dat { padding:0 0 0 4px;border:1px solid #d8f0fa;border-left:none;border-right-color:#e4edf2; }
    .row-h .ind { padding:0 1px;border:1px solid #d8f0fa;border-left:none;border-right:none; }
    .row-h .icon { padding-left:1px; }
    .row-h .last { padding:0 0 0 1px; }
.row-s { line-height:18px;background:#e8f5fd url("../images/horizontal.png") repeat-x 0 -111px;cursor:default; }
    .row-s .dat { padding:0 0 0 4px;border:1px solid #99defd;border-left:none;border-right-color:#e0eff9; }
    .row-s .ind { padding:0 1px;border:1px solid #99defd;border-left:none;border-right:none; }
    .row-s .icon { padding-left:1px; }
    .row-s .last { padding:0 0 0 1px; }

/* Grouped rows & cells */
.grp-hd { background:#fff;line-height:18px;cursor:default;height:18px;background:#fff url("../images/horizontal.png") repeat-x 0 -130px;margin:0 4px 0 0;border:1px solid #fff; }
    .grp-hd span { color:#039;background:#fff;padding:0 8px 0 0; }

.grid .hdr .grp .txt { background:transparent url("../images/static.png") no-repeat 0 -110px;padding:0 16px 0 24px; }


/* Header styles */
.row-hd { height:22px !important;cursor:default; }
    .row-hd .ind { border:1px solid #d5d5d5;border-color:#fff #d5d5d5 #d5d5d5 #fff;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
    .row-hd .cell { border:1px solid #d5d5d5;border-color:#fff #d5d5d5 #d5d5d5 #fff;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
    .row-hd .cell-h { border:1px solid #69bbe3;border-color:#fff #69bbe3 #93c9e3 #69bbe3;background:#e3f7ff url("../images/horizontal.png") repeat-x 0 -52px;text-align:center; }
    .row-hd .cell-d { border:1px solid #69bbe3;border-color:#fff #69bbe3 #93c9e3 #69bbe3;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
    .row-hd .txt { color:#000;line-height:22px;padding:0 0 0 8px; }
    .row-hd .sort { border:1px solid #96d9f9;background:#f2f9fc  url("../images/horizontal.png") repeat-x 0 -74px; }

/* Footer styles */
.grid .ftr { background:#bbd9f0 url("../images/vertical.png") repeat-y;border-top:1px solid #9db6c5;color:#000;height:18px; }
    .grid .ftr > table { padding:0 8px; }
    .grid .ftr .txt { color:#000;line-height:18px;cursor:default; }


/* Slider popup */
.pop { width:300px;height:61px;padding:0;border:1px solid #515e6a;background:#fff;font:normal 12px "Segoe UI","Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif; }
    .pop .con { padding:0;margin:0;border:none;width:100%;height:44px; }
        .pop .con .ico { float:left;width:20px;height:100%;background:#bbd9f0;padding:0 2px; }
            .pop .con .ico img { float:left;margin:8px 1px 0 1px; }
            .pop .con .ico img.eml { display:block;margin:5px 0 0 0; }

        .pop .con .txt { float:left;width:260px;height:100%;background:#f8fdff;position:relative; }
            .pop .con .txt .send { line-height:22px;width:50%;float:left;height:22px; }
                .pop .con .txt .send span { padding-left:4px;color:#737373; }
            .pop .con .txt .date { line-height:22px;width:50%;float:left;height:22px;text-align:right; }
                .pop .con .txt .date span { padding-right:4px;color:#737373; }
            .pop .con .txt .subj { line-height:22px;width:95%;height:22px;height:22px;padding:0 4px;overflow:hidden;text-overflow:ellipsis;position:absolute;left:0;bottom:0; }
                .pop .con .txt .subj span { font-weight:bold;color:#000; }

        .pop .con .flag { float:left;width:16px;height:100%;background:#bbd9f0; }
            .pop .con .flag img { margin:16px 2px 0 2px; }

    .pop .ftr { width:100%;height:16px;line-height:14px;background:#095075 url("../images/horizontal.png") repeat-x 0 -6px;color:#fff;border-top:1px solid #515e6a;font-size:11px; }
        .pop .ftr .pg { width:50%;float:left; }
            .pop .ftr .pg span { padding-left:6px; }
        .pop .ftr .msg { width:50%;float:left;text-align:right; }
            .pop .ftr .msg span { padding-right:6px; }


/* Context Menu */
.col-mnu { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat; }
.cell-h .col-mnu { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -22px; } /* 'hover' header context menu */
.col-mnu-h { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -44px; }
.col-mnu-d { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -66px; }
.sort .col-mnu { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -88px; } /* sorted header context menu */

.mnu { color:Red;border:0px solid #999;width:200px;font-family:"Segoe UI","Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:11px;cursor:default;text-align:left; }
    .mnu .itm {  color:Red;width:50px;height:15px;background:#6D7795; }
    .mnu .itm-h { color:blue;width:50px;height:15px;background:#DC671E;}

    .mnu .br { width:140px;height:4px;background:#f6f6f6 url("../images/menu/static.png") no-repeat 0 -25px;overflow:hidden;line-height:4px; }

    .mnu .ico { display:block;width:16px;height:16px;float:left;margin:4px 7px 0px 8px;background:transparent url("../images/menu/icons.png") no-repeat -16px 0; }

    .mnu .sort-desc { background-position:0 0; }
    .mnu .sort-asc { background-position:0 -16px; }
    .mnu .grp-asc { background-position:0 -32px; }
    .mnu .grp-desc { background-position:0 -48px; }
    .mnu .ungrp { background-position:0 -64px; }


    .mnu .txt { display:block;float:left;height:24px;line-height:24px;width:86px;padding:0 0 0 6px; }
    
    /*Combo box*/
    .comboBox 
{ 
  border: 1px solid #A6A7AA; 
  background-color: white; 
}




/* Dialog */


.myDialog
{
	z-index:1005;
	background-color:#ffffff;
	border:1px;
	border-color:gray;
	border-top-color:gray;
	border-left-color:gray;
	border-bottom-color:Gray;
	border-style:solid;
	position:relative;
	visibility:hidden;
	height:361px;
	width:208px;
	padding:5px;
	float:right;
} 


.myDialogHeader {
	background: #001447 url(../images/background_header.gif) repeat-x;
	color: #FFFFFF;
}