/* HTML STYLES
-----------------------------------------------------------------------------
*/
BODY {
	background: #d8e6f0;
	font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
A:visited, A:active, A:link {
	color: #1E3267;
}
A:hover {
	color:#000000; 
}
.hr, .hr2  { 
	border-bottom: 1px dashed #CCCCCC;
}



/* WRAPPER
-----------------------------------------------------------------------------
*/
#wrapper {
	width: 950px;
	padding: 5px;
	margin: 0 auto;
	display: table;
	background: #FFFFFF;
}



/* HEADER
-----------------------------------------------------------------------------
*/
#header {
	background: #006fb9 url(../images/marketline/header.jpg) no-repeat;
	color: #FFFFFF;
	height: 80px;
}
#header_left {
	margin: 10px 0px 0px 10px;
	height: 55px;
	width: 500px;
}
#header_right {
	color: #FFFFFF;
	height: 90px;
}
#header_right H1, #header_right H1 A {
	color: #FFFFFF;
	padding: 6px 5px 5px 0px;
}



/* TABS
-----------------------------------------------------------------------------
*/
#tabs {
	width: 940px;
}
#tabs a {
	background: url(../images/header_tabs.gif) top right no-repeat;
	color: #FFFFFF;
	font-size: 9px;
}
#tabs a:hover, #tabs a.selected {
	color: #FFFFFF;
}
#searchbar {
	float: left;
	clear: left;
	background: #99c7e4 url(../images/marketline/searchbar.jpg) no-repeat;
	width: 100%;
	text-indent: 10px;
	font-size: 11px;
	padding: 10px 0px;
	font-weight: bold;
}
#searchbar a {
	color: #FFFFFF;
}



/* BREADCRUMB & STATUS BAR
-----------------------------------------------------------------------------
*/
.breadcrumb, .statusbar {
	background: #ecf0f5;
}
#breadcrumb_powersearch {
	border: 1px solid #BFC4D1;
	border-left: 1px solid #BFC4D1;
	border-right: 1px solid #BFC4D1;	
}
.breadcrumb UL {
	color: #000000;
}
.breadcrumb_line {
	background: url(../images/line.gif) bottom left no-repeat;
}
#breadcrumb_title H1 {
	color: #000000;
}
.breadcrumb_arrow A:visited, .breadcrumb_arrow A:active, .breadcrumb_arrow A:link {
	background: url(../images/arrow_right.gif) no-repeat right 3px;
}
.breadcrumb_arrow A:hover {
	background: url(../images/arrow_left.gif) no-repeat right 3px;
}
.breadcrumb_arrowback {
	background: url(../images/arrow_left.gif) no-repeat left 3px;
}
.remove {
	border-left: 1px solid #BFC4D1;
	background: url(../images/breadcrumb_remove.gif) no-repeat 10px 2px;
}
.userlinks {
	border-left: 1px solid #CCCCCC;
}
.didyoumean {
	color: #006fb9;
}



/* MY SAVED SEARCHES MENU
-----------------------------------------------------------------------------
*/
#menu li {
	background: #808AA3 url(../images/background_savedsearches.gif) no-repeat left bottom;
}
#menu li a {
	color: #FFFFFF;
}
#menu ul {
	background: #808AA3;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#menu ul li a {
	border-top: solid 1px #6f7b97;
}
#menu ul a:hover {
	background: #6f7b97;
}
#menu ul li a h2 {
	background: url(../images/menu_homeicon.gif) no-repeat right top;
}



/* GENERAL LAYOUT
-----------------------------------------------------------------------------
*/
#column_refine {
	background: url(../images/refine_topleft.gif) top right no-repeat;
}
#column_refine_right {
	background: url(../images/refine_topright.gif) top left no-repeat;
}
#column_refine2 {
	background: #d8e6f0;
}
#maincontent2 {
	border-left: 1px solid #CCCCCC;
}



/* PAGE TITLE
-----------------------------------------------------------------------------
*/
#pagetitle {
	border-bottom: 1px #CCCCCC solid;
}
#pagetitle H1 {
	color: #000000;
}
#pagetitle H2 {
	color: #000000;
}
#pagetitle H3 {
	color: #000000;
}
#pagetitle H3 A {
	background: url(../images/arrow_left.gif) no-repeat left 3px;
}




/* BROWSE STYLES
-----------------------------------------------------------------------------
*/
.browse_styles H1 A:link, .browse_styles H1 A:active, .browse_styles H1 A:visited {
	background: #001447 url(../images/mainstyles_header.gif) right -50px no-repeat;
	color: #FFFFFF;
}
.browse_styles H1 A:hover {
	background: #001447 url(../images/mainstyles_header.gif) right top no-repeat;
}
.browse_styles H3 {
	color: #ACB2C3;
	border-bottom: #D9E1EC solid 1px;
}
.browse_styles H4 {
	color: #DC671E;
	border-bottom: #D9E1EC solid 1px;
}
.browse_styles H5 {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) top left no-repeat;
}
.browse_styles H5 A:link, .browse_styles H5 A:active, .browse_styles H5 A:visited  {
	color: #FFFFFF;
}
.browse_styles UL {
	color: #ACB2C3;
}
.browse_styles LI {
	border-bottom: #D9E1EC solid 1px;
	background: url(../images/mainstyles_bullet.gif) 7px 10px no-repeat;
}



/* BROWSE TABLES
-----------------------------------------------------------------------------
*/
.browse_table TD {
	border-bottom: #CCCCCC solid 1px;
}
.fill TD {
	background: #d8e6f0;	
}
.browse_table TH {
	color: #FFFFFF;
	background: #006fb9;
}
.arrow_none A:link, .arrow_none A:active, .arrow_none A:visited, .arrow_up A:link, .arrow_up A:active, .arrow_up A:visited, .arrow_down A:link, .arrow_down A:active, .arrow_down A:visited {
	color: #FFFFFF;
}
.arrow_none A:hover, .arrow_down A:link, .arrow_down A:active, .arrow_down A:visited {
	background: url(../images/arrow_down.gif) no-repeat right 6px;
}
.arrow_down A:hover, .arrow_up A:link, .arrow_up A:active, .arrow_up A:visited {
	background: url(../images/arrow_up.gif) no-repeat right 6px;
}
.arrow_up A:hover {
	background: url(../images/arrow_down.gif) no-repeat right 6px;
}


/* PAGE NUMBERS
-----------------------------------------------------------------------------
*/
.search_pagesnumbers {
	border-top: #CCCCCC solid 1px;
	border-bottom: #CCCCCC solid 1px;
}
.search_pagesnumbers_right {
	color: #ACB2C3;
}



/* OTHER STYLES
-----------------------------------------------------------------------------
*/

.other_styles {
	border-left: 1px #BFC4D1 solid;
}
.other_styles H1 {
	color: #001447;
}
.other_styles H2 {
	color: #000000;
	border-bottom: 1px #D9E1EC solid;
}
.other_bullets LI {
	background: url(../images/mainstyles_bullet.gif) no-repeat 2px 13px;
}




/* FORMSTYLES
-----------------------------------------------------------------------------
*/
.formstyle {
	border: solid 1px #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formstyle2 {
	border: solid 1px #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formstyle3 {
	border: solid 1px #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#welcome_form {
	background: #001447 url(../images/mainstyles_header.gif) top left no-repeat;
	color: #FFFFFF;
}
.formstyle4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formstyle5 {
	border: 1px solid #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}



/* MISC
-----------------------------------------------------------------------------
*/
.excel A {
	background: url(../images/tool_excel2.gif) no-repeat left 2px;
}
.search_company {
	background: #ECF0F5;
	color: #DC671E;
	border: 1px solid #BFC4D1;
}
.alert_edit a:link, .alert_edit a:visited, .alert_edit a:active {
	color: #ACB2C3;
}
.textcolor {
	color: #000000;
}



/* LEFT HAND MENU STYLES
-----------------------------------------------------------------------------
*/

#refineleft {
	background: #ECF0F5 url(../images/refine_bottomright.gif) no-repeat right bottom;
}
#refineright {
	background: #ECF0F5 url(../images/refine_bottomleft.gif) no-repeat left bottom;
}
.refinesearch H1 {
	color: #FFFFFF;
	background: url(../images/refine_h1background.gif) bottom left no-repeat;
	border-top: #FFFFFF solid 1px;
}
.refinesearch H2 {
	color: #006fb9;
}
.refinesearch LI A:hover, .selected A:link, .selected A:visited, .selected A:active {
	color: #FFFFFF;
	background: #006fb9;
}


.level1_arrow {
	background: url(../images/arrow_left.gif) no-repeat left 5px;
}
#column_other .refinesearch H2 {
	color: #000000;
}
.column_other_leave {
	background: url(../images/refine_leavemenu.gif) no-repeat right 6px;
}



/* FOOTER
-----------------------------------------------------------------------------
*/
#footer {
	border-top: solid 1px #D9E1EC;
	background-color: #FFFFFF;
}
#footer_right {
	color: #BFC4D1;
}



/* OVERVIEW - LAYOUT
-----------------------------------------------------------------------------
*/
.bucket_blue {
	background: #ECF0F5;
	border-left: 1px solid #BFC4D1;
	border-right: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}
#market_data {
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}
.product_image {
	border: #BFC4D1 solid 1px;
}



/* MY TOOLS HOME PAGE
-----------------------------------------------------------------------------
*/
.mytools {
	background: url(../images/background_mytools.gif) 50% top repeat-y;
}



/* ALERTS & ADVANCED SEARCH
-----------------------------------------------------------------------------
*/
.alert_tree {
	border: 1px solid #D9E1EC;
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}
.alert_tips {
	background: #ecf0f5 url(../images/alert_help.gif) right top no-repeat;
	border: 1px solid #D9E1EC;
}
.alert_keyword {
	border-left: 1px solid #D9E1EC;
	border-right: 1px solid #D9E1EC;
	background: url(../images/taxonomy_background.gif) -20px top repeat-x;
}
.advanced_table TD {
	border-bottom: #D9E1EC solid 1px;
}



/* ADVANCED SEARCH TOGGLE BOX
-----------------------------------------------------------------------------
*/
#advanced_criteria P {
	color: #DC671E;
}
#advanced_criteria A {
	background: url(../images/breadcrumb_remove.gif) no-repeat right 3px;
}




/* WELCOME PAGE
-----------------------------------------------------------------------------
*/
.welcome_left h1, .welcome_right h1 {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) left top no-repeat;
}
.welcome_left h4, .welcome_right h4 {
	color: #DC671E;
}
.welcome_bullets LI {
	background: url(../images/mainstyles_bullet.gif) 7px 5px no-repeat;
}



/* BUTTON
-----------------------------------------------------------------------------
*/
.button_orange, .button_right, .button_rightra {
	color: #FFFFFF;
}
.button_orange {
	background: url(../images/marketline/button_left2.gif) no-repeat right top;
}
.button_right, .button_rightra {
	background: url(../images/marketline/button_left.gif) no-repeat left top;
}
.button_orange a:link, .button_orange a:active, .button_orange a:visited {
	color: #FFFFFF;
}
.button_right a:link, .button_right a:active, .button_right a:visited {
	color: #FFFFFF;
}
.button_rightra a:link, .button_rightra a:active, .button_rightra a:visited {
	color: #FFFFFF;
}
.button_orange a:link, .button_orange a:active, .button_orange a:visited {
	background: url(../images/marketline/button_right3.gif) no-repeat left top;
}
.button_right a:link, .button_right a:active, .button_right a:visited {
	background: url(../images/marketline/button_right.gif) no-repeat right top;
}
.button_rightra a:link, .button_rightra a:active, .button_rightra a:visited {
	background: url(../images/marketline/button_right.gif) no-repeat right top;
}
.button_orange a:hover {
	background-position: left -30px;
}
.button_right a:hover {
	background-position: right -30px;
}
.button_rightra a:hover {
	background-position: right -30px;
}


/* REGISTRATION PAGES - CONTACTS
-----------------------------------------------------------------------------
*/
.registration_contacts H1 {
	color: #DC671E;
	border-top: solid 1px #D9E1EC;
}
.login_box {
	border-left: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
	border-right: 1px solid #BFC4D1;
}


/* 
----------------------------------------------------------------------------------------------------------------------------------------
*/



/* HIGHSLIDE POPUP
-----------------------------------------------------------------------------
*/
.highslide-loading {
	border: 1px solid #006fb9;
    background-color: #FFFFFF;   
    background-image: url(../images/popup/loader.white.gif);
}
.highslide-wrapper {
	background: #FFFFFF;
}
.highslide-header {
	background: #006fb9;
}
.highslide-header a:link, .highslide-header a:active, .highslide-header a:visited {
	color: #9DA4b8;
}
.highslide-header a:hover {
	color: #9da4b8;
}
.highslide-header H1 {
	color: #FFFFFF;
}
.popup_icon_save {
	background: url(../images/popup_icon_save.gif) no-repeat left 24px;
}
.popup_icon_home {
	background: url(../images/popup_icon_home.gif) no-repeat left 24px;
}
.popup_icon_ask {
	background: url(../images/popup_icon_ask.gif) no-repeat left 24px;
}
.popup_icon_alert {
	background: url(../images/popup_icon_alert.gif) no-repeat left 24px;
}
.popup_icon_clip {
	background: url(../images/popup_icon_clip.gif) no-repeat left 24px;
}
.highslide-close a {
	background: url(../images/popup_close.gif) no-repeat 0px 2px;
}
.highslide-move a {
	background: url(../images/popup_move.gif) no-repeat 0px 2px;
}



/* SPRY WIDGET - TAB PANELS
-----------------------------------------------------------------------------
*/
.TabbedPanelsTabGroup {
	background: #001447 url(../images/mainstyles_header.gif) left top no-repeat;
}
.TabbedPanelsTab {
	border-right: 1px #808AA3 solid;
	background: #001447 url(../images/mainstyles_header.gif) left top no-repeat;
	color: #808AA3;
}
.TabbedPanelsTabSelected {
	color: #FFFFFF;
}


/* SPRY WIDGET - MENU BAR
-----------------------------------------------------------------------------
*/
ul.MenuBarHorizontal a.MenuBarItemSubmenu {
	background-image: url(../images/arrow_down.gif);
}
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover {
	background-image: url(../images/arrow_down_over.gif);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		background: #FFFFFF;
	}
}



/* SPRY WIDGET - ACCORDIAN
-----------------------------------------------------------------------------
*/
.Accordion {
	border-bottom: 1px solid #D9E1EC;
	border-left: 1px solid #D9E1EC;
	border-right: 1px solid #D9E1EC;
}
.AccordionPanelTab, .AccordionPanelTabTop {
	background: url(../images/taxonomy_background.gif) top left repeat-x;
}
.AccordionPanelOpen .AccordionPanelTab, .AccordionPanelOpen .AccordionPanelTabTop {
	background: url(../images/taxonomy_background2.gif) top left repeat-x;
}
.AccordionPanelTabHover {
	color: #DC671E;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #DC671E;
}



/* 
----------------------------------------------------------------------------------------------------------------------------------------
*/



/* iREPORT - LAYOUT
-----------------------------------------------------------------------------
*/
#iReport_content, #iReport_toc {
	border-right: 1px dashed #D9E1EC;
}



/* iREPORT - TABS
-----------------------------------------------------------------------------
*/
#iReport_tabs {
	background: url(../images/header_tabs_background.gif) repeat-x bottom;
}
#iReport_tabs li {
	border-bottom: 1px solid #FFFFFF;
}
#iReport_tabs a {
	background: #D9E1EC url(../images/header_tabs2.gif) right -20px;
	color: #001447;
	border-left: 1px solid #BFC4D1;
}
#iReport_tabs a:hover, #iReport_tabs a.selected {
	background: #FFFFFF url(../images/header_tabs2.gif) right top;
	color: #001447;
}
#iReport_tabs a.selected {
	background: #FFFFFF url(../images/header_tabs2.gif) right top;
	color: #001447;
	border-bottom: 1px solid #FFFFFF;
}



/* iREPORT - NAVIGATION
-----------------------------------------------------------------------------
*/
#iReport_navtop {
	border-bottom: 1px solid #BFC4D1;
}
#iReport_navbot {
	border-top: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}
.iReport_jumpmenu {
	font-family: Arial, Helvetica, sans-serif;
	border: solid 1px #BFC4D1;
}



/* iREPORT  STYLES
-----------------------------------------------------------------------------
*/
.iReport_styles H2 {
	border-top: 2px solid #BFC4D1;
}
.iReport_bullets LI {
	background: url(../images/bullet.gif) no-repeat 2px 3px;
}



/* iREPORT - FIGURE AND TABLES
-----------------------------------------------------------------------------
*/
.iReport_figure {
	border-top: 2px solid #D9E1EC;
}
.iReport_styles TD {
	border-bottom: 1px solid #D9E1EC;
}
.iReport_styles TH {
	background: #001447 url(../images/mainstyles_header.gif) repeat-x;
	color: #FFFFFF;
}
.shadedrow TD {
	background: #ECF0F5;
}
.second_header TD {
	background: #BFC4D1;
	color: #FFFFFF;
}



/* iREPORT - EXTRACT BAR
-----------------------------------------------------------------------------
*/
.iReport_extract {
	background: #dfe1e8 url(../images/iReport_extract_over.gif) repeat-x left bottom;
	color: #001447;
	border-top: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}
.iReport_extract li {
	border-right: 1px solid #BFC4D1;
}
.iReport_extract_section {
	color: #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}



/* iREPORT - TOOLS PANEL
-----------------------------------------------------------------------------
*/
#iReport_tools H1 {
	color: #DC671E;
}
.tool_ask {
	background: url(../images/tool_ask.gif) no-repeat 0px 8px;
}
.tool_cart {
	background: url(../images/tool_cart.gif) no-repeat 0px 8px;
}
.tool_clip {
	background: url(../images/tool_clip.gif) no-repeat 0px 8px;
}
.tool_email {
	background: url(../images/tool_email.gif) no-repeat 0px 8px;
}
.tool_excel {
	background: url(../images/tool_excel2.gif) no-repeat 0px 8px;
}
.tool_extract {
	background: url(../images/tool_extract.gif) no-repeat 0px 8px;
}
.tool_pdf {
	background: url(../images/tool_pdf.gif) no-repeat 0px 8px;
}
.tool_powerpoint {
	background: url(../images/tool_powerpoint.gif) no-repeat 0px 8px;
}
.tool_print {
	background: url(../images/tool_print.gif) no-repeat 0px 8px;
}
.tool_word {
	background: url(../images/tool_word.gif) no-repeat 0px 8px;
}


/* PRODUCTSCAN - TABS
-----------------------------------------------------------------------------
*/
#productscan_tabs {
	border-bottom: 5px #006fb9 solid;
}
#productscan_tabs a {
	color: #006fb9;
	border-right: 1px solid #FFFFFF;
	background: #d8e6f0;
}
#productscan_tabs a.selected {
	color: #FFFFFF;
	background: #006fb9;
}

/* PRODUCTSCAN - REPORT VIEW
-----------------------------------------------------------------------------
*/
.productscan_item H1 {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}



/* REFINE CHART BOX
-----------------------------------------------------------------------------
*/
.refinechart {
	border-bottom: 1px solid #CCCCCC;
}
.refinechart_col {
	border-right: 1px dashed #CCCCCC;
}
.refinechart_col1 {
	border-right: 1px dashed #CCCCCC;
}
.refinechart_col3 {
	border-right: 1px dashed #CCCCCC;
}
.refinechart_button {
	border-top: 1px dashed #CCCCCC;
}



/* PRODUCTSCAN OPTIONS
-----------------------------------------------------------------------------
*/
#pagetitle H3 .productscan_next A {
	background: url(../images/arrow_right.gif) no-repeat right 3px;
}


/* POWER SEARCH
-----------------------------------------------------------------------------
*/

.productscan_powersearch {
	background: url(../images/powersearch_background2.gif) repeat-y top right;
	border-left: 1px solid #CCCCCC;
}
.productscan_powersearch H1, #column_other H5 {
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
}
.productscan_powersearch H2 {
	color: #006fb9;
}
.productscan_powersearch #advanced_criteria P {
	border-top: 1px dashed #CCCCCC;
}
.powersearch_tree {
	border: 1px solid #CCCCCC;
	scrollbar-face-color: #CCCCCC;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}
.productscan_box {
	background: #d8e6f0;
	border: 1px solid #CCCCCC;
}
.productscan_box A:link, .productscan_box A:visited, .productscan_box A:active {
	color: #000000;
}
.productscan_box H3 {
	color: #006fb9;
}
/* COMPANY PROFILE STYLES
-----------------------------------------------------------------------------
*/
.company_styles H1 {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
.company_styles H2 {
	border-top: 1px solid #BFC4D1;
	color: #DC671E;
}
.company_styles LI {
	background: url(../images/bullet.gif) no-repeat 5px 3px;
}


/* BACKGROUND
-----------------------------------------------------------------------------
*/
.background_savedsearch {
	background: url(../images/mytool_searches.gif) no-repeat top left;
}
.background_alerts {
	background: url(../images/mytool_alerts.gif) no-repeat top left;
}
.background_clip {
	background: url(../images/mytool_clip.gif) no-repeat top left;
}
.background_ask {
	background: url(../images/mytool_ask.gif) no-repeat top left;
}
.background_register {
	background: url(../images/reg_register.gif) no-repeat top left;
}
.background_access {
	background: url(../images/reg_access.gif) no-repeat top left;
}
.background_info {
	background: url(../images/reg_info.gif) no-repeat top left;
}
.background_country {
	background: url(../images/mytool_countrystatistics.gif) no-repeat top left;
}
.background_productscan {
	background: url(../images/mytool_productscan.gif) no-repeat top left;
}
.background_isv {
	background: url(../images/mytool_isv.gif) no-repeat top left;
}
.background_cards {
	background: url(../images/mytool_cards.gif) no-repeat top left;
}
.background_icd {
	background: url(../images/mytool_icd.gif) no-repeat top left;
}
.background_techtrends {
	background: url(../images/mytool_techtrends.gif) no-repeat top left;
}
.background_itcontracts {
	background: url(../images/mytool_itcontracts.gif) no-repeat top left;
}
.background_icon_edit {
	background: url(../images/savedsearch_edit.gif) no-repeat top left;
}
.background_icon_delete {
	background: url(../images/savedsearch_delete.gif) no-repeat top left;
}
.background_icon_alert {
	background: url(../images/savedsearch_alert.gif) no-repeat top left;
}
.background_icon_alert2 {
	background: url(../images/savedsearch_alert2.gif) no-repeat top left;
}
.background_icon_myhome {
	background: url(../images/savedsearch_myhome.gif) no-repeat top left;
}
.background_icon_myhome2 {
	background: url(../images/savedsearch_myhome2.gif) no-repeat top left;
}
.background_searchgo {
	background: url(../images/header_searchgo.gif) no-repeat top left;
	margin-right: 10px;	
}
.background_searchgo2 {
	background: url(../images/refine_searchgo.gif) no-repeat top left;
}
.background_button_save {
	background: url(../images/button_save.gif) no-repeat top left;
}

.background_button_notes {
	background: url(../images/notes-and-methodology_btn.gif) no-repeat top left;
}

.background_button_home {
	background: url(../images/button_home.gif) no-repeat top left;
}
.background_button_alert {
	background: url(../images/button_alert.gif) no-repeat top left;
}
.background_welcome {
	background: url(../images/welcome.gif) no-repeat top left;
}
.background_404 {
	background: url(../images/404.gif) no-repeat top left;
}


tr.gvHeaderRow
{
	background-image: url(../images/mainstyles_header.gif);	
}




#divFilter {
	color: #FFFFFF;
}

#divFilter {
	background: url(../images/marketline/button_left.gif) no-repeat left top;
}

#divFilter a:link, #divFilter a:active, #divFilter a:visited {
	color: #FFFFFF;
}

#divFilter a:link, #divFilter a:active, #divFilter a:visited {
	background: url(../images/marketline/button_right3.gif) no-repeat right top;
}

#divFilter a:hover {
	background-position: right -30px;
}

#hRemoveAll
{
	display:none;
}

.searchtree
{
	position:relative; 
	overflow-x:auto; 
	width:250px; 	
	
}

.NotesMethodology {
	background: url(../images/mainstyles_bullet.gif) no-repeat 0px 6px;
	padding: 1px 0px 0px 8px;
	margin: 0px;		
	font-size: 10px;
	line-height: 10px;	
	float:right;
	font-weight:lighter;

}

.other_links {
	background: url(../images/mainstyles_bullet.gif) no-repeat 2px 13px;
}


.HeadingCell 
{ 
  background-color:#006fb9
}
.BredCrumbHeadings
{
	color: #000000; 
	font-weight:bold; 
	font-size:10px;
}
