/* HTML STYLES
-----------------------------------------------------------------------------
*/
BODY {
	background: #E5E5E5 url(../images_ovum/background_main.gif) repeat-x;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
A:visited, A:active, A:link {
	color: #000066;
}
A:hover {
	color: #FF0033; 
}
.hr, .hr2  { 
	border-bottom: 1px dashed #CCCCCC;
}



/* WRAPPER
-----------------------------------------------------------------------------
*/
#wrapper {
	background: #FFFFFF;
}



/* HEADER
-----------------------------------------------------------------------------
*/
#header {
	background: #999999 url(../images_ovum/background_header.gif) repeat-x;
	color: #FFFFFF;
	height: 110px;
}
#header a.orbys {
	background: url(../images/header_logo_ovum.gif) no-repeat left top;
	display: block;
	height: 75px;
	margin-left: 10px;
	overflow: hidden;
	text-indent: -999em;
	width: 260px;
}
#header_nav {
	background: url(../images_ovum/newimages/header_nav.gif) no-repeat left bottom;
	margin-top: 15px;
	padding-top:7px;
	position:absolute;
}
#header_search A IMG {
	background: url(../images_ovum/newimages/header_search.gif) no-repeat right 1px;
}
#header_search A:hover IMG {
	background: url(../images_ovum/newimages/header_search.gif) no-repeat right -34px;
}
#header_search P {
	background: url(../images_ovum/newimages/header_search.gif) no-repeat left 1px;
}

/* HOME PAGE HEADERS
-----------------------------------------------------------------------------
*/

#header_home {
    width: 960px;
	height: 110px;
	background: url(../images/dmgroup.gif) no-repeat top right;
	margin: 0px 5px;
}

#header_home H1 A {
    float: left;
	display: block;
	text-indent: -9999px;
	width: 100%;
	font-size: 1px;
	display: inline;
	margin-left: 5px;
	width: 75px;
	height: 75px;
	background: url(../images/header_ovlogo.gif) no-repeat;
}

#header_home div A {
	float: right;
	display: block;
	text-indent: -9999px;
	font-size: 1px;
	width: 240px;
	height: 25px;
	background: url(/kc/images/dmgroup.gif) no-repeat top right;
	outline: none;
}

/* TABS
-----------------------------------------------------------------------------
*/
#tabs a {
	background: url(../images_ovum/newimages/header_tabs.gif) no-repeat;
	border-right: 1px solid #b5b5b5;
}
li.tab_myprofile_icon {
	background: url(../images_ovum/newimages/header_user.gif) no-repeat 15px 6px;
}
#tabs a#tab_myprofile {
	color: #e5e5e5;
	background: url(../images_ovum/newimages/header_downarrow.gif) no-repeat right -20px;
}
#tabs a#tab_myprofile:hover {
	color: #FFFFFF;
}
#myprofile div {
	background: #F2F2F2;
}
#myprofile div {
	color: #000066;
	border-bottom: 1px solid #CCCCCC;
	font-size: 10px;
}
#myprofile div A {
	border-left: 1px solid #CCCCCC;
}
#myprofile div A:hover {
	color: #FF0033;
}



/* BREADCRUMB & STATUS BAR
-----------------------------------------------------------------------------
*/
.statusbar {
	background: #F2F2F2;
}
.breadcrumb UL {
	color: #FF0033;
}
.breadcrumb {
	background: #F2F2F2 url(../images_ovum/line.gif) top left no-repeat;
}
#breadcrumb_title H1 {
	color: #FF0033;
}
.breadcrumb_arrow A:visited, .breadcrumb_arrow A:active, .breadcrumb_arrow A:link, .toplevel {
	background: url(../images_ovum/arrow_right.gif) no-repeat right 3px;
}
.breadcrumb_arrow A:hover {
	background: url(../images_ovum/arrow_left.gif) no-repeat right 3px;
}
.breadcrumb_arrowback {
	background: url(../images_ovum/arrow_left.gif) no-repeat left 3px;
}
.remove {
	border-left: 1px solid #CCCCCC;
	background: url(../images_ovum/breadcrumb_remove.gif) no-repeat 10px 2px;
}
.userlinks {
	border-left: 1px solid #CCCCCC;
}
.didyoumean {
	color: #666666;
}



/* MY SAVED SEARCHES MENU
-----------------------------------------------------------------------------

#menu li {
	background: #B1B1B1 url(../Images/ovum/background_savedsearches.gif) no-repeat left bottom;
}
#menu li a {
	color: #FFFFFF;
}
#menu ul {
	background: #CCCCCC;
	border-left: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
}
#menu ul li a {
	border-top: solid 1px #CCCCCC;
}
#menu ul a:hover {
	background: #CCCCCC;
	color: #666666;
}
#menu ul li a h2 {
	background: url(../Images/ovum/menu_homeicon.gif) no-repeat right top;
}

*/

/* GENERAL LAYOUT
-----------------------------------------------------------------------------
*/
#column_refine {
	background: url(../images_ovum/refine_topleft.gif) top right no-repeat;
}
#column_refine_right {
	background: url(../images_ovum/refine_topright.gif) top left no-repeat;
}
#column_refine2 {
	background: #F2F2F2;
}
#maincontent2 {
	border-left: 1px solid #CCCCCC;
}



/* PAGE TITLE
-----------------------------------------------------------------------------
*/
#pagetitle {
	border-bottom: 1px #CCCCCC solid;
}
#pagetitle H1 {
	color: #FF0033;
}
#pagetitle H2 {
	color: #666666;
}
#pagetitle H3 {
	color: #999999;
}
#pagetitle H3 A {
	background: url(../images_ovum/arrow_left.gif) no-repeat left 3px;
}



/* BROWSE STYLES
-----------------------------------------------------------------------------
*/
.browse_styles H1 A:link, .browse_styles H1 A:active, .browse_styles H1 A:visited {
	background: #999999 url(../images_ovum/mainstyles_header.gif) right -50px no-repeat;
	color: #FFFFFF;
}
.browse_styles H1 A:hover {
	background: #999999 url(../images_ovum/mainstyles_header.gif) right top no-repeat;
}
.browse_styles H3 {
	color: #999999;
	border-bottom: #D9D9D9 solid 1px;
}
.browse_styles H4 {
	color: #FF0033;
	border-bottom: #D9D9D9 solid 1px;
}
.browse_styles H5 {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
.browse_styles H5 A:link, .browse_styles H5 A:active, .browse_styles H5 A:visited  {
	color: #FFFFFF;
}
.browse_styles UL {
	color: #999999;
}
.browse_styles LI {
	border-bottom: #D9D9D9 solid 1px;
	background: url(../images_ovum/mainstyles_bullet.gif) 7px 10px no-repeat;
}



/* BROWSE TABLES
-----------------------------------------------------------------------------
*/
.browse_table TD {
	border-bottom: #D9D9D9 solid 1px;
}
.fill TD {
	background: #F2F2F2;	
}
.browse_table TH {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
.arrow_none A:link, .arrow_none A:active, .arrow_none A:visited, .arrow_up A:link, .arrow_up A:active, .arrow_up A:visited, .arrow_down A:link, .arrow_down A:active, .arrow_down A:visited {
	color: #FFFFFF;
}
.arrow_none A:hover, .arrow_down A:link, .arrow_down A:active, .arrow_down A:visited {
	background: url(../images/arrow_down.gif) no-repeat right 6px;
}
.arrow_down A:hover, .arrow_up A:link, .arrow_up A:active, .arrow_up A:visited {
	background: url(../images/arrow_up.gif) no-repeat right 6px;
}
.arrow_up A:hover {
	background: url(../images/arrow_down.gif) no-repeat right 6px;
}



/* PAGE NUMBERS
-----------------------------------------------------------------------------
*/
.search_pagesnumbers {
	border-top: #CCCCCC solid 1px;
	border-bottom: #CCCCCC solid 1px;
}
.search_pagesnumbers_right {
	color: #999999;
}



/* OTHER STYLES
-----------------------------------------------------------------------------
*/

.other_styles {
	border-left: 1px #CCCCCC solid;
}
.other_styles H1 {
	color: #000066;
}
.other_styles H2 {
	color: #FF0033;
	border-bottom: 1px #D9D9D9 solid;
}
.other_bullets LI {
	background: url(../images_ovum/mainstyles_bullet.gif) no-repeat 2px 13px;
	color: #999999;
}


/* FORMSTYLES
-----------------------------------------------------------------------------
*/
.formstyle {
	border: solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formstyle2 {
	border: solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formstyle3 {
	border: solid 1px #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#welcome_form {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
.formstyle4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
.formstyle5 {
	border: 1px solid #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}



/* MISC
-----------------------------------------------------------------------------
*/
.excel A {
	background: url(../images/tool_excel2.gif) no-repeat left 2px;
}
.search_company {
	background: #F2F2F2;
	color: #FF0033;
	border: 1px solid #CCCCCC;
}
.alert_edit a:link, .alert_edit a:visited, .alert_edit a:active {
	color: #999999;
}
.textcolor {
	color: #FF0033;
}



/* LEFT HAND MENU STYLES
-----------------------------------------------------------------------------
*/

#refineleft {
	background: #F2F2F2 url(../images_ovum/refine_bottomright.gif) no-repeat right bottom;
}
#refineright {
	background: #F2F2F2 url(../images_ovum/refine_bottomleft.gif) no-repeat left bottom;
}
.refinesearch H1 {
	color: #FFFFFF;
	background: url(../images_ovum/refine_h1background.gif) bottom left no-repeat;
	border-top: #FFFFFF solid 1px;
}
.refinesearch H2, .refinesearch H4 {
	color: #FF0033;
}
.refinesearch LI A:hover, .selected A:link, .selected A:visited, .selected A:active {
	color: #FFFFFF;
	background: #FF0033 url(../images_ovum/refine_selected.gif) repeat-x;
}
.level1_arrow {
	background: url(../images_ovum/arrow_left.gif) no-repeat left 5px;
}
#column_other .refinesearch H2, #column_other .refinesearch H4  {
	color: #FF0033;
}
.column_other_leave {
	background: url(../images_ovum/refine_leavemenu.gif) no-repeat right 6px;
}



/* FOOTER
-----------------------------------------------------------------------------
*/
#footer {
      border-top: solid 1px #D9D9D9;
      background: url(../images_ovum/dmgroup.gif) no-repeat 4px 10px;
}
#footer_left {
      text-indent: -9999px;
}
 




/* OVERVIEW - LAYOUT
-----------------------------------------------------------------------------
*/
.bucket_blue {
	background: #F2F2F2;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
#market_data {
	scrollbar-face-color: #CCCCCC;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}
.product_image {
	border: #CCCCCC solid 1px;
}



/* MY TOOLS HOME PAGE
-----------------------------------------------------------------------------
*/
.mytools {
	background: url(../images_ovum/background_mytools.gif) 50% top repeat-y;
}



/* ALERTS & ADVANCED SEARCH
-----------------------------------------------------------------------------
*/
.alert_tree {
	border: 1px solid #D9D9D9;
	scrollbar-face-color: #CCCCCC;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}
.alert_tips {
	background: #F2F2F2 url(../images_ovum/alert_help.gif) right top no-repeat;
	border: 1px solid #D9D9D9;
}
.alert_keyword {
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	background: url(../images_ovum/taxonomy_background.gif) -20px top repeat-x;
}
.advanced_table TD {
	border-bottom: #D9D9D9 solid 1px;
}



/* ADVANCED SEARCH TOGGLE BOX
-----------------------------------------------------------------------------
*/
#advanced_criteria P {
	color: #FF0033;
}
#advanced_criteria A {
	background: url(../images_ovum/breadcrumb_remove.gif) no-repeat right 3px;
}



/* WELCOME PAGE
-----------------------------------------------------------------------------
*/
.welcome_left h1, .welcome_right h1 {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
.welcome_left h4, .welcome_right h4 {
	color: #FF0033;
}
.welcome_bullets LI, .highslide-body LI {
	background: url(../images_ovum/mainstyles_bullet.gif) 7px 4px no-repeat;
}



/* BUTTON
-----------------------------------------------------------------------------
*/
.button_orange, .button_right {
	color: #FFFFFF;
}
.button_orange {
	background: url(../images_ovum/button_left2.gif) no-repeat right top;
}
.button_clear {
	background: url(../images_ovum/button_left2.gif) no-repeat right top;
}
.button_right {
	background: url(../images_ovum/button_left.gif) no-repeat left top;
}
.button_orange a:link, .button_orange a:active, .button_orange a:visited {
	color: #FFFFFF;
}
.button_clear a:link, .button_clear a:active, .button_clear a:visited {
	color: #FFFFFF;
}
.button_right a:link, .button_right a:active, .button_right a:visited {
	color: #FFFFFF;
}
.button_orange a:link, .button_orange a:active, .button_orange a:visited {
	background: url(../images_ovum/button_right2.gif) no-repeat left top;
}
.button_clear a:link, .button_clear a:active, .button_clear a:visited {
	background: url(../images_ovum/button_right3.gif) no-repeat left top;
}
.button_right a:link, .button_right a:active, .button_right a:visited {
	background: url(../images_ovum/button_right.gif) no-repeat right top;
}
.button_orange a:hover {
	background-position: left -30px;
}
.button_clear a:hover {
	background-position: left -30px;
}
.button_right a:hover {
	background-position: right -30px;
}
.button_right_chart {
	color: #FFFFFF;
}
.button_right_chart {
	background: url(../images_ovum/button_left.gif) no-repeat left top;
}
.button_right_chart a:link, .button_right_chart a:active, .button_right_chart a:visited {
	color: #FFFFFF;
	background: url(../images_ovum/button_right.gif) no-repeat right top;
}
.button_right_chart a:hover {
	background-position: right -30px;
}


/* REGISTRATION PAGES - CONTACTS
-----------------------------------------------------------------------------
*/
.registration_contacts H1 {
	color: #FF0033;
	border-top: solid 1px #D9D9D9;
}
.login_box {
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}


/* 
----------------------------------------------------------------------------------------------------------------------------------------
*/



/* HIGHSLIDE POPUP
-----------------------------------------------------------------------------
*/
.highslide-loading {
	border: 1px solid #999999;
    background-color: #FFFFFF;   
    background-image: url(../images/popup/loader.white.gif);
}
.highslide-wrapper {
	background: #FFFFFF;
}
.highslide-header {
	background: #999999 url(../images_ovum/popup_header.gif) repeat-x;
}
.highslide-header a:link, .highslide-header a:active, .highslide-header a:visited {
	color: #E5E5E5;
}
.highslide-header a:hover {
	color: #E5E5E5;
}
.highslide-header H1 {
	color: #FFFFFF;
}
.popup_icon_save {
	background: url(../images_ovum/popup_icon_save.gif) no-repeat left 24px;
}
.popup_icon_home {
	background: url(../images_ovum/popup_icon_home.gif) no-repeat left 24px;
}

.popup_icon_alert {
	background: url(../images_ovum/popup_icon_alert.gif) no-repeat left 24px;
}
.popup_icon_clip {
	background: url(../images_ovum/popup_icon_clip.gif) no-repeat left 24px;
}
.highslide-close a {
	background: url(../images_ovum/popup_close.gif) no-repeat 0px 2px;
}
.highslide-move a {
	background: url(../images_ovum/popup_move.gif) no-repeat 0px 2px;
}



/* SPRY WIDGET - TAB PANELS
-----------------------------------------------------------------------------
*/
.TabbedPanelsTabGroup {
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
.TabbedPanelsTab {
	border-right: 1px #CCCCCC solid;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
	color: #CCCCCC;
}
.TabbedPanelsTabSelected {
	color: #FFFFFF;
}


/* SPRY WIDGET - MENU BAR
-----------------------------------------------------------------------------
*/
ul.MenuBarHorizontal li a {
	border-left: 1px solid #b5b5b5;
}
ul.MenuBarHorizontal a.MenuBarItemSubmenu {
	background: url(../images_ovum/newimages/header_downarrow.gif) no-repeat right -21px;
}
ul.MenuBarHorizontal a:link, ul.MenuBarHorizontal a:active, ul.MenuBarHorizontal a:visited  {
	color: #e5e5e5;
}
.savedsearches_myhome {
	background: url(../images_ovum/newimages/savedsearches_homeicon.gif) no-repeat 140px 5px    ;	
}
ul.MenuBarHorizontal a:hover {
	color: #FFFFFF; 
}
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover {
	background: url(../images_ovum/newimages/header_downarrow.gif) no-repeat right 4px    ;
	color: #FFFFFF;
}
ul.MenuBarHorizontal ul {
	background: url(../images_ovum/newimages/savedsearches_background.png);
	font-size: 9px;
}
ul.MenuBarHorizontal ul li {
	border-top: 1px solid #b5b5b5;
}



/* SPRY WIDGET - ACCORDIAN
-----------------------------------------------------------------------------
*/
.Accordion {
	border-bottom: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
}
.AccordionPanelTab, .AccordionPanelTabTop {
	background: url(../images_ovum/taxonomy_background.gif) top left repeat-x;
}
.AccordionPanelOpen .AccordionPanelTab, .AccordionPanelOpen .AccordionPanelTabTop {
	background: url(../images_ovum/taxonomy_background2.gif) top left repeat-x;
}
.AccordionPanelTabHover {
	color: #FF0033;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #FF0033;
}


/* ACCORDIAN
-----------------------------------------------------------------------------
*/
.sccRow {
	border-right: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
}
.sccRowTree {
	border-bottom: #CCCCCC 1px solid
}
.sccHeaderRow {
	border-left: #CCCCCC 1px solid;
	border-right: #CCCCCC 1px solid;
	background: url(../images_ovum/taxonomy_background2.gif) repeat-x left top;
}
.shut .sccHeaderRow {
	background: url(../images_ovum/taxonomy_background.gif) repeat-x left top;
}
.sccDisplayName:hover {
	color: #FF0033;
}
.listing {
	border: #CCCCCC 1px solid;
}
.item SPAN.searchMatch {
	background-color: #CCCCCC;
}
.disabled .sccDisplayName:hover {
	color: #999999;
}
.disabled .sccHeaderRow {
	border-left: #CCCCCC 1px solid;
	border-right: #CCCCCC 1px solid;
	background: url(../images_ovum/taxonomy_background.gif) repeat-x right top;
	color: #999999;
}



/* 
----------------------------------------------------------------------------------------------------------------------------------------
*/



/* iREPORT - LAYOUT
-----------------------------------------------------------------------------
*/
#iReport_content, #iReport_toc {
	border-right: 1px dashed #D9D9D9;
}



/* iREPORT - TABS
-----------------------------------------------------------------------------
*/
#iReport_tabs {
	background: url(../images_ovum/background_mytools.gif) repeat-y 574px top;
}
#iReport_tabs li {
	border-bottom: 1px solid #FFFFFF;
}
#iReport_tabs a {
	background: #D9D9D9 url(../Images/ovum/header_tabs2.gif) right -20px;
	color: #666666;
	border-left: 1px solid #CCCCCC;
}
#iReport_tabs a:hover, #iReport_tabs a.selected {
	background: #FFFFFF url(../Images/ovum/header_tabs2.gif) right top;
	color: #666666;
}
#iReport_tabs a.selected {
	background: #FFFFFF url(../Images/ovum/header_tabs2.gif) right top;
	color: #666666;
	border-bottom: 1px solid #FFFFFF;
}



/* iREPORT - NAVIGATION
-----------------------------------------------------------------------------
*/
#iReport_navtop {
	border-bottom: 1px solid #CCCCCC;
}
#iReport_navbot {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.iReport_jumpmenu {
	font-family: Arial, Helvetica, sans-serif;
	border: solid 1px #CCCCCC;
}



/* iREPORT  STYLES
-----------------------------------------------------------------------------
*/
.iReport_styles H2 {
	border-top: 2px solid #CCCCCC;
}
.iReport_bullets LI {
	background: url(../images_ovum/bullet.gif) no-repeat 2px 3px;
}



/* iREPORT - FIGURE AND TABLES
-----------------------------------------------------------------------------
*/
.iReport_figure {
	border-top: 2px solid #D9D9D9;
}
.iReport_styles TD {
	border-bottom: 1px solid #D9D9D9;
}
.iReport_styles TH, .headers TD {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
.shadedrow TD {
	background: #F2F2F2;
}
.second_header TD {
	background: #CCCCCC;
	color: #FFFFFF;
}



/* iREPORT - EXTRACT BAR
-----------------------------------------------------------------------------
*/
.iReport_extract {
	background: #E5E5E5 url(../images_ovum/iReport_extract_over.gif) repeat-x left bottom;
	color: #666666;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.iReport_extract li {
	border-right: 1px solid #CCCCCC;
}
.iReport_extract a:hover {
	background: #E5E5E5;
	color: #000066;
}
.iReport_extract_section {
	color: #CCCCCC;
	border-bottom: 1px dashed #CCCCCC;
}



/* iREPORT - TOOLS PANEL
-----------------------------------------------------------------------------
*/
#iReport_tools H1 {
	color: #FF0033;
}
.tool_ask {
	background: url(../images_ovum/tool_ask.gif) no-repeat 0px 8px;
}
.tool_cart {
	background: url(../images_ovum/tool_cart.gif) no-repeat 0px 8px;
}
.tool_clip {
	background: url(../images_ovum/tool_clip.gif) no-repeat 0px 8px;
}
.tool_email {
	background: url(../images_ovum/tool_email.gif) no-repeat 0px 8px;
}
.tool_excel {
	background: url(../images/tool_excel2.gif) no-repeat 0px 8px;
}
.tool_extract {
	background: url(../images_ovum/tool_extract.gif) no-repeat 0px 8px;
}
.tool_pdf {
	background: url(../images/tool_pdf.gif) no-repeat 0px 8px;
}
.tool_powerpoint {
	background: url(../images/tool_powerpoint.gif) no-repeat 0px 8px;
}
.tool_print {
	background: url(../images_ovum/tool_print.gif) no-repeat 0px 8px;
}
.tool_word {
	background: url(../images/tool_word.gif) no-repeat 0px 8px;
}


/* PRODUCTSCAN - TABS
-----------------------------------------------------------------------------
*/
#productscan_tabs {
	border-bottom: 5px #999999 solid;
}
#productscan_tabs a {
	color: #666666;
	border-right: 1px solid #FFFFFF;
	background: #D9D9D9;
}
#productscan_tabs a.selected {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}


/* PRODUCTSCAN - REPORT VIEW
-----------------------------------------------------------------------------
*/
.productscan_item H1 {
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}



/* REFINE CHART BOX
-----------------------------------------------------------------------------
*/
.refinechart {
	border-bottom: 1px solid #D9D9D9;
}
.refinechart_col {
	border-right: 1px dashed #D9D9D9;
}
.refinechart_button {
	border-top: 1px dashed #D9D9D9;
}



/* PRODUCTSCAN OPTIONS
-----------------------------------------------------------------------------
*/
#pagetitle H3 .productscan_next A {
	background: url(../images_ovum/arrow_right.gif) no-repeat right 3px;
}


/* POWER SEARCH
-----------------------------------------------------------------------------
*/
.productscan_powersearch{
	background: url(../images/powersearch_background.gif) repeat-y top right;
	border-left: 1px solid #CCCCCC;
}
.productscan_powersearch H1, #column_other H5 {
	color: #FF0033;
	border-bottom: 1px solid #CCCCCC;
}
.productscan_powersearch H2 {
	color: #666666;
}
.productscan_powersearch #advanced_criteria P {
	border-top: 1px dashed #D9D9D9;
}
.powersearch_tree {
	border: 0px solid #D9D9D9;
	scrollbar-face-color: #CCCCCC;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
	overflow-x:hidden;
	overflow-y:auto;
}
.productscan_box {
	background: #F2F2F2;
	border: 1px solid #CCCCCC;
}
.productscan_box A:link, .productscan_box A:visited, .productscan_box A:active {
	color: #FF0033;
}
.productscan_box H3 {
	color: #666666;
}



/* BACKGROUND
-----------------------------------------------------------------------------
*/
.background_savedsearch {
	background: url(../images_ovum/mytool_searches.gif) no-repeat top left;
}
.background_alerts {
	background: url(../images_ovum/mytool_alerts.gif) no-repeat top left;
}
.background_clip {
	background: url(../images_ovum/mytool_clip.gif) no-repeat top left;
}
.background_ask {
	background: url(../images_ovum/mytool_ask.gif) no-repeat top left;
}
.background_users {
	background: url(../images_ovum/mytool_users.gif) no-repeat top left;
}
.background_register {
	background: url(../images_ovum/reg_register.gif) no-repeat top left;
}
.background_access {
	background: url(../images_ovum/reg_access.gif) no-repeat top left;
}
.background_info {
	background: url(../images_ovum/reg_info.gif) no-repeat top left;
}
.background_country {
	background: url(../images_ovum/mytool_basedrivers.gif) no-repeat top left;
}
.background_productscan {
	background: url(../images_ovum/mytool_productscan.gif) no-repeat top left;
}
.background_retaildatabase {
	background: url(../images_ovum/mytool_retaildatabase.gif) no-repeat top left;
}
.background_icon_edit {
	background: url(../images_ovum/savedsearch_edit.gif) no-repeat top left;
}
.background_icon_delete {
	background: url(../images_ovum/savedsearch_delete.gif) no-repeat top left;
}
.background_icon_alert {
	background: url(../images_ovum/savedsearch_alert.gif) no-repeat top left;
}
.background_icon_alert2 {
	background: url(../images_ovum/savedsearch_alert2.gif) no-repeat top left;
}
.background_icon_myhome {
	background: url(../images_ovum/savedsearch_myhome.gif) no-repeat top left;
}
.background_icon_myhome2 {
	background: url(../images_ovum/savedsearch_myhome2.gif) no-repeat top left;
}
.background_searchgo {
	background: url(../images_ovum/header_searchgo.gif) no-repeat right 1px;
}
.background_searchgo2 {
	background: url(../images_ovum/refine_searchgo.gif) no-repeat top left;
}
.background_button_save {
	background: url(../images_ovum/button_save.gif) no-repeat top left;
}
.background_button_home {
	background: url(../images_ovum/button_home.gif) no-repeat top left;
}
.background_button_alert {
	background: url(../images_ovum/button_alert.gif) no-repeat top left;
}
.background_welcome {
	background: url(../images_ovum/welcome.gif) no-repeat top left;
}
.background_404 {
	background: url(../images_ovum/404.gif) no-repeat top left;
}
.background_clipicon {
	background: url(../images_ovum/tool_clip.gif) no-repeat top left;
}
.background_arrow_1up {
	background: url(../images_ovum/arrow_1up.gif) no-repeat top left;
}
.background_arrow_2up {
	background: url(../images_ovum/arrow_2up.gif) no-repeat top left;
}
.background_arrow_1left {
	background: url(../images_ovum/arrow_1left.gif) no-repeat top left;
}
.background_arrow_2left {
	background: url(../images_ovum/arrow_2left.gif) no-repeat top left;
}
.background_arrow_1down {
	background: url(../images_ovum/arrow_1down.gif) no-repeat top left;
}
.background_arrow_2down {
	background: url(../images_ovum/arrow_2down.gif) no-repeat top left;
}
.background_arrow_1right {
	background: url(../images_ovum/arrow_1right.gif) no-repeat top left;
}
.background_arrow_2right {
	background: url(../images_ovum/arrow_2right.gif) no-repeat top left;
}
.background_processing {
	background: url(../images_ovum/processing.gif) no-repeat top left;
}


/* COMPANY PROFILE POP-UP
-----------------------------------------------------------------------------
*/
#ie5menu {
	background-color: #F2F2F2;
}
/*Hack for IE6*/
#ie5menu{
}
#ie5menu .title {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
#ie5menu .menuitem, #ie5menu .menuitem-last{
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
/* make rollover area of link full width of bar */
#ie5menu .menuitem a, #ie5menu .menuitem-last a {
}
#ie5menu .menuitem-last { 
	border-bottom: 1px solid #CCCCCC
}
/* link style for company links */
#rep_body a.co:link, #rep_body a.co:visited, #rep_body a.co:hover {
	border-bottom: 1px solid #CCCCCC; 
}


/* COMPANY PROFILE STYLES
-----------------------------------------------------------------------------
*/
.company_styles H1 {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
.company_styles H2 {
	border-top: 1px solid #CCCCCC;
	color: #FF0033;
}
.company_styles LI {
	background: url(../images_ovum/bullet.gif) no-repeat 5px 3px;
}

/* DISPLAY OPTIONS - DROP DOWN TAB
-----------------------------------------------------------------------------
*/
#display_options
{
	background:  #999999 repeat-x left top;
	border-top: #b5b5b5 1px solid;
}
#display_options H3
{
	color: #FF0033;
	border-bottom: #b5b5b5 1px dashed;
}


.display_options_col.col_line    
{
	border-right: 1px dashed #b5b5b5; 
} 
.col_Rline 
{
	border-left: #b5b5b5 1px dashed;
} 

#display_options_tab DIV
{
	background: url(../images_ovum/display_options_tabs.gif)  no-repeat right top;
}
#display_options_tab A
{
	background: url(../images_ovum/display_options_tabs.gif) no-repeat left top;
}


#display_options_buttons
{
	border-top: #b5b5b5 1px dashed;
}
#display_options_buttons A
{
	background: url(../images_ovum/mainstyles_header.gif) #001447 no-repeat left -50px; 
}
#display_options_buttons A.save_button
{
	background: url(../images_ovum/refine_selected.gif) #FF0033 repeat-x;
}

/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------*/
.analyzeresults_col1 {
	background:transparent url(../images/background_mytools.gif) repeat-y scroll 551px top;
}

.NotesMethodology {
	background: url(../images_ovum/mainstyles_bullet.gif) no-repeat 0px 6px;
	padding: 1px 0px 0px 8px;
	margin: 0px;		
	font-size: 10px;
	line-height: 10px;	
	float:right;
	font-weight:lighter;

}
.other_links {
	background: url(../images_ovum/mainstyles_bullet.gif) no-repeat 2px 13px;
}


.HeadingCell 
{ 
  background-image: url(../images_ovum/mainstyles_header.gif);
}
.BredCrumbHeadings
{
	color: #FF0033; 
	font-weight:bold; 
	font-size:10px;
}

.RemovedTaxonomyHeading
{
	color:#FF0033;
	font-weight:bold
}

.RemovedTaxonomyData
{
	color:#000066;
	font-weight:bold
}

#database_tabs 
{	
	width: 100%;
	border-bottom: 5px #999999 solid;
	list-style-type: none;
	height: 26px;
}
#database_tabs LI
{
	display: inline;
	list-style-type: none;
}
#database_tabs LI A {
	border-right: #ffffff 1px solid;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 10px;
	background: #D9D9D9;
	color: #666666;
	float: left;
	padding-bottom: 8px;
	line-height: 10px;
	padding-top: 8px;
	text-decoration: none;
	
}
#database_tabs a.selected {
	color: #FFFFFF;
	background: #999999 url(../images_ovum/mainstyles_header.gif) no-repeat left -50px;
}
#database_tabs LI.other_option A:hover
{
	color: #FF0033;
}

#database_tabs LI.other_option A
{
	border-right: #E5E5E5 1px solid;
	padding-right: 7px;
	padding-left: 12px;
	font-weight: normal;
	background: 0px 50%;
	float: right;
	padding-bottom: 0px;
	margin-right: 7px;
	padding-top: 0px;
}

#database_tabs LI.last A
{
	border-top-width: 0px;
	padding-right: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	margin-right: 0px;
	border-right-width: 0px;
}
#database_tabs LI A.ask
{
	background: url(../images_ovum/tool_ask.gif) no-repeat;
	color: #001447;
}
 #database_tabs  #labelPleaseUse
{
	color: #FF0033;
}
.pre_browse_table_THView, .pre_browse_table_THView1, .database_table TH
{
	background: #001447 url(../images_ovum/mainstyles_header.gif) top left;
}